schema_filmo.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="films" type="filmsType" >
        <xs:key name="idKey"  >  
                <xs:selector xpath="acteurDescription" />  
                <xs:field xpath="@id" />  
        </xs:key>  
  
        <xs:keyref name="ref" refer="idKey">  
                <xs:selector xpath="film/acteurs/acteur"/>  
                <xs:field xpath="@ref"/>  
        </xs:keyref>
    </xs:element>

    <xs:complexType name="filmsType" >
        <xs:sequence>
            <xs:element name="film" type="filmType" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="acteurDescription" type="acteurDescriptionType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filmType" >
        <xs:sequence>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="nationalite" type="xs:string"/>
            <xs:element name="exploitation" type="exploitationType"/>
            <xs:element name="acteurs" type="acteursType"/>
            <xs:element name="realisateur" type="realType"/>
            <xs:element name="genres" type="genresType"/>
            <xs:element name="duree" type="dureeType"/>
            <xs:element name="scenario" type="scenarioType"/>
            <xs:element name="image" type="imageType"/>
        </xs:sequence>
        <xs:attribute name="anneeSortie" type="xs:gYear" use="required" />
        <xs:attribute name="visa" type="xs:positiveInteger" use="required" />
    </xs:complexType>

    <xs:complexType name="exploitationType">
        <xs:sequence>
            <xs:element name="dateSortie" type="dateSortieType"/>
            <xs:element name="nbrEntrees" type="xs:positiveInteger"/>
            <xs:element name="nbrSalle" type="xs:positiveInteger"/>
            <xs:element name="listePays" type="listePaysType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="acteursType">
        <xs:sequence>
            <xs:element name="acteur" type="acteurType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="realType">
        <xs:sequence></xs:sequence>
        <xs:attribute name="prenom" type="xs:string" use="required" />
        <xs:attribute name="nom" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="genresType">
        <xs:sequence>
            <xs:element name="genre" type="genreType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dureeType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="unite" type="xs:string" use="required" fixed="min"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>



    <xs:complexType name="dateSortieType">
        <xs:sequence></xs:sequence>
        <xs:attribute name="jourSemaine" type="xs:string" use="required" />
        <xs:attribute name="jour" type="xs:positiveInteger" use="required" />
        <xs:attribute name="mois" type="xs:string" use="required" />
        <xs:attribute name="annee" type="xs:gYear" use="required" />
    </xs:complexType>

    <xs:complexType name="acteurType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="ref" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="listePaysType">
        <xs:sequence>
            <xs:element name="pays" type="paysType" minOccurs="1" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="genreType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="action"/>
            <xs:enumeration value="aventure"/>
            <xs:enumeration value="anticipation"/>
            <xs:enumeration value="casse"/>
            <xs:enumeration value="catastrophe"/>
            <xs:enumeration value="cape et epee"/>
            <xs:enumeration value="noel"/>
            <xs:enumeration value="comedie"/>
            <xs:enumeration value="drame"/>
            <xs:enumeration value="fantastique"/>
            <xs:enumeration value="fantasy"/>
            <xs:enumeration value="horreur"/>
            <xs:enumeration value="historique"/>
            <xs:enumeration value="opera"/>
            <xs:enumeration value="peplum"/>
            <xs:enumeration value="romance"/>
            <xs:enumeration value="science-fiction"/>
            <xs:enumeration value="thriller"/>
            <xs:enumeration value="western"/>
            <xs:enumeration value="animation"/>
            <xs:enumeration value="famille"/>
            <xs:enumeration value="biopic"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paysType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Allemagne"/>
            <xs:enumeration value="Autriche"/>
            <xs:enumeration value="Belgique"/>
            <xs:enumeration value="Bulgarie"/>
            <xs:enumeration value="Chypre"/>
            <xs:enumeration value="Croatie"/>
            <xs:enumeration value="Danemark"/>
            <xs:enumeration value="Espagne"/>
            <xs:enumeration value="Estonie"/>
            <xs:enumeration value="Finlande"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="Grece"/>
            <xs:enumeration value="Hongrie"/>
            <xs:enumeration value="Irlande"/>
            <xs:enumeration value="Italie"/>
            <xs:enumeration value="Lettonie"/>
            <xs:enumeration value="Lituanie"/>
            <xs:enumeration value="Luxembourg"/>
            <xs:enumeration value="Malte"/>
            <xs:enumeration value="Pays-Bas"/>
            <xs:enumeration value="Pologne"/>
            <xs:enumeration value="Portugal"/>
            <xs:enumeration value="Republique tcheque"/>
            <xs:enumeration value="Roumanie"/>
            <xs:enumeration value="Slovaquie"/>
            <xs:enumeration value="Slovenie"/>
            <xs:enumeration value="Suede"/>
            <xs:enumeration value="Suisse"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="imageType">
        <xs:sequence></xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="scenarioType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="keyword" type="xs:string"/>
            <xs:element name="ev" type="xs:string"/>
            <xs:element name="personnage" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="acteurDescriptionType" >
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="dateNaissance" type="xs:date"/>
            <xs:element name="sexe" type="sexeType"/>
            <xs:element name="lieuNaissance" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required" >
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="sexeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
    </xs:restriction>
    </xs:simpleType>

</xs:schema>